/*------MENU------*/

.btn {
    background-color: rgb(183, 69, 69);
    padding: 10px;
    border: none;
    position: relative;
}

.lista {
    list-style-type: none;
    width: 100px;
    line-height: 1.5;
    display: none;
    position: absolute;
}

.a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    background-color: rgb(112, 112, 201);
}

.mostra {
    display: block;
}

#dropdown {
    position: relative;
    display: inline-block;
}

.button {
    color: white;
    background: rgb(81, 166, 146);
    background: radial-gradient(circle, rgb(132, 142, 32) 0%, rgba(110, 27, 27, 1) 84%);
}

.hover {
    background-color: rgb(29, 29, 87);
    color: white;
}

/*------INTERATTIVA------*/

h1 {
    text-align: center;
    color: blueviolet;
    padding: 60px;
}

#cambioScritta {
    padding-bottom: 20px;
    text-align: center;
}

#cambioScritta button {
    border: none;
    box-shadow: 5px 5px 5px rgb(61, 61, 61);
    border-radius: 5px;
    color: white;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    margin: 5px;
    padding: 10px 20PX;
}

/*------LISTA------*/

h4 {
    font-size: 18pt;
    color: rgb(94, 178, 231);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

ul {
    font-weight: bold;
    font-style: italic;
}

.cambio {
    color: rgb(9, 169, 9);
}

.ok {
    text-decoration: line-through;
    color: rgb(135, 135, 106);
}